<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <div>
        <a href="/customerSearch"><button type="button">Customer Search</button></a>
        <a href="/newTakeoff"><button type="button">New Takeoff</button></a>
        <a href="/existingTakeoff"><button type="button">Existing Takeoff</button> </a>
        <a href="/takeoffInfo"><button type="button">Take off to Quote</button></a>
        <a href="/admin/dashboard">
            <button type="button">Administration functions</button></a><!--currently needs to be hidden to all users besides admin-->
    </div>
</body>
</html>